@charset "UTF-8";
body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  color: #212121;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* styles main / start */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

.active {
  color: #2196f3;
}

.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border: 1px solid #2196f3;
  border-radius: 2px;
  border-radius: 2px;
  background-color: #2196f3;
  position: absolute;
  bottom: -1px;
  left: 0;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.logo-color {
  color: #2196f3;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__address {
  display: flex;
  gap: 30px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav-lists {
  display: flex;
  align-items: center;
  gap: 30px;
}

.icon-smartphone {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #757575;
}

.header__nav-lists {
  margin-left: 93px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header__address {
  margin-left: auto;
}

.header__sprite-item {
  margin-right: 12px;
}

.header__nav-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-family: inherit;
  color: inherit;
  padding: 30px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav-link:hover, .header__nav-link:focus {
  color: #2196f3;
}

.header__nav-link-address {
  width: 100%;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav-link-address:hover, .header__nav-link-address:focus {
  color: #2196f3;
}

.icon-envelope,
.icon-smartphone {
  fill: currentColor;
}

.banner {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/banner-bg.jpg");
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
}

.banner {
  background-color: #2f303a;
  text-align: center;
}

.banner__title {
  font-family: inherit;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
}

.banner__link {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background-color: #2196f3;
  border: 0;
  color: #fff;
  cursor: pointer;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.banner__link:hover, .banner__link:focus {
  background-color: #188ce8;
}

.details__text {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.details__lists {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.details__item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon--antena::before {
  background-image: url("../images/antenna.svg");
}

.icon--clock::before {
  background-image: url("../images/clock.svg");
}

.icon--diagramm::before {
  background-image: url("../images/diagram.svg");
}

.icon--austronavt::before {
  background-image: url("../images/astronaut.svg");
}

.details__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: inherit;
  margin-bottom: 10px;
}

.doing {
  padding-bottom: 94px;
}

.doing__list {
  display: flex;
  gap: 30px;
}

.doing__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: inherit;
  margin-bottom: 50px;
}

.doing__item {
  position: relative;
}

.doing__thumb:first-child::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "Десктопні додатки";
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 27px 0;
}

.doing__thumb {
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
}

.doing__thumb p {
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 27px 0;
}

.team {
  background-color: #f5f4fa;
}

.team__lists {
  display: flex;
  gap: 30px;
}

.team__item {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  color: inherit;
  margin-bottom: 50px;
}

.team__subtitle {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  color: inherit;
  margin-bottom: 10px;
}

.team__info {
  padding: 30px 0;
}

.team__position {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.team__social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team__social-links .button {
  padding: 0;
  border: none;
  background: none;
  width: 44px;
  height: 44px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-links .button-icon {
  width: 20px;
  height: 20px;
}

.team__social-links .button:hover,
.team__social-links .button:focus {
  background-color: #2196f3;
  fill: #fff;
  cursor: pointer;
}

.clients__lists {
  display: flex;
  gap: 30px;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.clients__link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  border: 1px solid #2196f3;
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: #2196f3;
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer__logo-link {
  color: #fff;
}

.footer__social-info {
  display: flex;
  flex-direction: column;
}

.footer__lists {
  margin-top: 20px;
}

.footer__place {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__place:hover, .footer__place:focus {
  color: #2196f3;
}

.footer__link {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  color: #2196f3;
}

.footer__item {
  margin-bottom: 9px;
}

.footer__social-lists {
  display: flex;
}

.footer__social-lists li:not(:last-child) {
  margin-right: 10px;
}

.footer__info {
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.footer__social-info {
  margin-left: 70px;
}

/* .footer__flex {
  display: flex;
  align-items: baseline;
} */
.footer__social-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__social-lists .button {
  background: none;
  padding: 0;
  border: 0;
  width: 44px;
  height: 44px;
  background-color: #44454e;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-lists .button:hover, .footer__social-lists .button:focus {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #2196f3;
  fill: #fff;
  cursor: pointer;
}

.footer__social-lists .button-icon {
  padding: 0;
  border: none;
  width: 20px;
  height: 20px;
  fill: #fff;
}

.footer__form {
  display: flex;
  margin-left: auto;
  gap: 12px;
}

.footer__form-filed {
  display: flex;
  flex-direction: column;
}

.footer-mail {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__input {
  width: 358px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 20px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer__form-submit {
  margin-top: 37px;
  padding: 10px 62px 10px 28px;
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  position: relative;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__form-submit:hover, .footer__form-submit:focus {
  background-color: #188ce8;
}

.footer__form-submit::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 32px;
  background-image: url("../images/icon_send.png");
  width: 24px;
  height: 24px;
  background-size: cover;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  cursor: pointer;
}

.backgrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backgrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backgrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 22px;
  height: 22px;
  background-image: url("../images/Vector.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  padding: 6px;
  z-index: 10;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.modal__close:hover {
  fill: #2196f3;
}

.modal__title {
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.form__field input {
  margin: 0;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 0 12px 42px;
  margin-top: 4px;
}

.form__field label {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.form__filed {
  position: relative;
}

.form__field:last-child {
  margin-bottom: 20px;
}

input[type=checkbox] {
  width: 16px;
  height: 15px;
  margin: 0;
}

.field__checkbox {
  margin: 20px 10px;
}

.field__checkbox li {
  display: flex;
  align-items: center;
}

.field__checkbox label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.agree-link {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: #2196f3;
}

textarea {
  margin: 0;
  margin-top: 4px;
  padding: 0;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.comment {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
}

.agree {
  display: block;
  margin-left: 10px;
  padding-bottom: 4px;
}

.comment::placeholder {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-icon {
  position: absolute;
  top: 55%;
  left: 14px;
  width: 18px;
  height: 18px;
}

.form-input:focus ~ .icon {
  fill: #2196f3;
}

.form-submit {
  background: #2196F3;
  padding: 10px 52px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-submit:hover,
.form-submit:focus {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.field__checkbox {
  position: relative;
}

.real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 0;
  position: absolute;
}

.custom-checkbox {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: 2px solid #212121;
  width: 16px;
  height: 15px;
  opacity: 1;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field__checkbox .form-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  opacity: 0;
}

.real-checkbox:checked + .custom-checkbox {
  opacity: 0;
}

.real-checkbox:checked ~ .form-icon {
  opacity: 1;
}

.portfolio__button-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  background-color: #f5f4fa;
  border: 0;
  cursor: pointer;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio__button-link {
  padding: 6px 25px;
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.portfolio__button-link:hover, .portfolio__button-link:focus, .portfolio__button-link:active {
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio__text {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio__info {
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 20px 24px;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__link {
  display: block;
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform var(--time) var(--type-transition);
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__overlay-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */