@media screen and (min-width:480px) and (max-width:768px){
    .details__lists{
        display: block;
        margin-bottom: 30px;
    }
    
    .details__item{
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    
    
    .details__title{
        font-size: 14px;
        text-align: center;
    }
}
